
seg7/impl/seg7_Implmnt/

seg7/impl/synlog.tcl

seg7/src/transcript

seg7/src/work/

*.wlf

seg7/src/seg7.cr.mti

seg7/src/seg7.mpf

dot_matrix/src/dot_matrix/

dot_matrix/src/dot_matrix_sim/

dot_matrix/src/dot-matrix.cr.mti

dot-matrix/src/dot_matrix/

dot-matrix/src/dot_matrix_sim/

dot-matrix/src/dot-matrix.cr.mti

dot-matrix/impl/char_buf/char_buf_Implmnt/

dot-matrix/impl/char_buf/synlog.tcl

*.log
*.bak
*.prd
